In [1]:
import os
import pandas as pd
import numpy as np
import pandas_profiling
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LassoCV
from sklearn import datasets
from collections import Counter

from joblib import dump
from sklearn.externals import joblib

#from keras.models import model_from_json

#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score

/home/datacube/.local/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
path = './satellite_dataset-sin-nubes.csv'

satellite = pd.read_csv(path)
satellite.head()

    blue  green    red   nir  swir1  swir2  wofs  bosque  wofs_bosque  ninguno
0  272.0  172.0   74.0  61.0   81.0   62.0     1       0            0        0
1  172.0  158.0   71.0  62.0  107.0   92.0     1       0            0        0
2  172.0  104.0   14.0   1.0   44.0   39.0     1       0            0        0
3  255.0  202.0  103.0  87.0  128.0  104.0     1       0            0        0
4  255.0  197.0  100.0  86.0  113.0   92.0     1       0            0        0

In [3]:
satellite = satellite[satellite["blue"] > 0]
satellite = satellite[satellite["red"] > 0]
satellite = satellite[satellite["green"] > 0]
satellite = satellite[satellite["nir"] > 0]
satellite = satellite[satellite["swir1"] > 0]
satellite = satellite[satellite["swir2"] > 0]

In [4]:
#satellite['wofs'].value_counts()
#satellite['bosque'].value_counts()
#satellite['wofs_bosque'].value_counts()
#satellite['cloud'].value_counts()
#satellite['ninguno'].value_counts()

In [5]:
# Reemplazar el valor de columna Wofs por NaN(0) y Wofs(1)
satellite['wofs'] = satellite['wofs'].replace(0,np.nan)
satellite['wofs'] = satellite['wofs'].replace(1,'wofs')

In [6]:
# Reemplazar el valor de columna bosque por NaN(0) y bosque(1)
satellite['bosque'] = satellite['bosque'].replace(0,np.nan)
satellite['bosque'] = satellite['bosque'].replace(1,'bosque')

In [7]:
# Reemplazar el valor de columna wofs_bosque por NaN(0) y wofs_bosque(1)
satellite['wofs_bosque'] = satellite['wofs_bosque'].replace(0,np.nan)
satellite['wofs_bosque'] = satellite['wofs_bosque'].replace(1,'wofs_bosque')

In [8]:
# Reemplazar el valor de columna ninguno por NaN(0) y ninguno(1)
satellite['ninguno'] = satellite['ninguno'].replace(0,np.nan)
satellite['ninguno'] = satellite['ninguno'].replace(1,'ninguno')

In [9]:
# Reemplazar el valor de columna cloud por NaN(0) y cloud(1)
# satellite['cloud'] = satellite['cloud'].replace(0,np.nan)
# satellite['cloud'] = satellite['cloud'].replace(1,'cloud')

In [10]:
satellite.head(10)

,blue,green,red,nir,swir1,swir2,wofs,bosque,wofs_bosque,ninguno
0,272.0,172.0,74.0,61.0,81.0,62.0,wofs,NaN,NaN,NaN
1,172.0,158.0,71.0,62.0,107.0,92.0,wofs,NaN,NaN,NaN
2,172.0,104.0,14.0,1.0,44.0,39.0,wofs,NaN,NaN,NaN
3,255.0,202.0,103.0,87.0,128.0,104.0,wofs,NaN,NaN,NaN
4,255.0,197.0,100.0,86.0,113.0,92.0,wofs,NaN,NaN,NaN
5,139.0,341.0,185.0,2804.0,1263.0,464.0,NaN,bosque,NaN,NaN
6,199.0,112.0,16.0,5.0,47.0,39.0,wofs,NaN,NaN,NaN
8,736.0,702.0,623.0,627.0,667.0,540.0,NaN,NaN,NaN,ninguno
9,414.0,484.0,286.0,240.0,246.0,199.0,wofs,NaN,NaN,NaN
10,234.0,162.0,60.0,44.0,81.0,69.0,wofs,NaN,NaN,NaN

In [11]:
#Se crea una nueva columna para almacenar el valor de etiqueta
satellite['label']=np.nan

In [12]:

#Se indica en la columna 'label', la clasificacion de la columna 'wofs'. Se esribe "Wofs" en columna 'label' si en  
#la columna 'wofs' esta este valor
for label in [col for col in satellite.columns if 'wofs' in col]:
    satellite['label'].fillna(satellite[label],inplace=True)
    
#Se indica en la columna 'label', la clasificacion de la columna 'bosque'. Se esribe "bosque" en columna 'label' si en  
#la columna 'bosque' esta este valor
for label in [col for col in satellite.columns if 'bosque' in col]:
    satellite['label'].fillna(satellite[label],inplace=True)
    
#Se indica en la columna 'label', la clasificacion de la columna 'wofs_bosque'. Se esribe "wofs_bosque" en columna 'label' si en  
#la columna 'wofs_bosque' esta este valor
for label in [col for col in satellite.columns if 'wofs_bosque' in col]:
    satellite['label'].fillna(satellite[label],inplace=True)
    
#Se indica en la columna 'label', la clasificacion de la columna 'ninguno'. Se esribe "ninguno" en columna 'label' si en  
#la columna 'ninguno' esta este valor
for label in [col for col in satellite.columns if 'ninguno' in col]:
    satellite['label'].fillna(satellite[label],inplace=True)
    
#Se indica en la columna 'label', la clasificacion de la columna 'cloud'. Se esribe "cloud" en columna 'label' si en  
#la columna 'cloud' esta este valor
for label in [col for col in satellite.columns if 'cloud' in col]:
    satellite['label'].fillna(satellite[label],inplace=True)
satellite.head(20)

,blue,green,red,nir,swir1,swir2,wofs,bosque,wofs_bosque,ninguno,label
0,272.0,172.0,74.0,61.0,81.0,62.0,wofs,NaN,NaN,NaN,wofs
1,172.0,158.0,71.0,62.0,107.0,92.0,wofs,NaN,NaN,NaN,wofs
2,172.0,104.0,14.0,1.0,44.0,39.0,wofs,NaN,NaN,NaN,wofs
3,255.0,202.0,103.0,87.0,128.0,104.0,wofs,NaN,NaN,NaN,wofs
4,255.0,197.0,100.0,86.0,113.0,92.0,wofs,NaN,NaN,NaN,wofs
5,139.0,341.0,185.0,2804.0,1263.0,464.0,NaN,bosque,NaN,NaN,bosque
6,199.0,112.0,16.0,5.0,47.0,39.0,wofs,NaN,NaN,NaN,wofs
8,736.0,702.0,623.0,627.0,667.0,540.0,NaN,NaN,NaN,ninguno,ninguno
9,414.0,484.0,286.0,240.0,246.0,199.0,wofs,NaN,NaN,NaN,wofs
10,234.0,162.0,60.0,44.0,81.0,69.0,wofs,NaN,NaN,NaN,wofs
11,170.0,426.0,227.0,3469.0,1530.0,556.0,NaN,bosque,NaN,NaN,bosque
12,102.0,258.0,147.0,1736.0,684.0,258.0,NaN,bosque,NaN,NaN,bosque
13,165.0,355.0,211.0,2777.0,1156.0,452.0,NaN,bosque,NaN,NaN,bosque
14,218.0,129.0,32.0,25.0,69.0,54.0,wofs,NaN,NaN,NaN,wofs
15,300.0,203.0,106.0,86.0,128.0,104.0,wofs,NaN,NaN,NaN,wofs
17,261.0,204.0,112.0,97.0,123.0,100.0,wofs,NaN,NaN,NaN,wofs
19,97.0,343.0,159.0,2660.0,1020.0,329.0,NaN,bosque,NaN,NaN,bosque
20,198.0,191.0,102.0,99.0,142.0,120.0,wofs,NaN,NaN,NaN,wofs
21,871.0,818.0,719.0,733.0,780.0,613.0,NaN,NaN,NaN,ninguno,ninguno
22,274.0,232.0,124.0,104.0,133.0,108.0,wofs,NaN,NaN,NaN,wofs

In [14]:
# Se crea el conjunto de calsificacion y el de entrenamiento
Y = satellite["label"]
# X = satellite.drop(columns=["label","wofs","bosque","wofs_bosque","cloud","ninguno"], axis=1)
X = satellite.drop(columns=["label","wofs","bosque","wofs_bosque","ninguno"], axis=1)
Y.value_counts()

wofs           709190
bosque         192531
ninguno         29327
wofs_bosque       476
Name: label, dtype: int64

# Se crean los conjuntos de entrenamiento y de prueba
Para hacer esto se deben dividir los datos en 4 conjuntos de datos como se puede apreciar en la siguiente imagen.
![title](conjuntos.png)

In [15]:
# Se dividen los datos en los conjuntos de Train y test
X_train, X_test, y_train, y_test = train_test_split(
    X,
    Y,
    test_size=0.3,
    random_state=0
)

In [16]:
X_test

         blue  green    red     nir   swir1  swir2
872806  220.0  128.0   36.0    22.0    59.0   51.0
224269  281.0  177.0   80.0    59.0    83.0   68.0
125685  388.0  360.0  257.0   247.0   253.0  199.0
360405  189.0  521.0  282.0  3839.0  1620.0  575.0
388185  301.0  245.0  153.0   137.0   157.0  131.0
...       ...    ...    ...     ...     ...    ...
64888   548.0  556.0  468.0   473.0   614.0  511.0
205796  341.0  247.0  146.0   125.0   153.0  111.0
908170  220.0  409.0  270.0  3094.0  1416.0  562.0
87597   242.0  246.0  136.0   124.0   159.0  134.0
826113  172.0  112.0   26.0     3.0    50.0   44.0

[279458 rows x 6 columns]

In [17]:
y_test

872806       wofs
224269       wofs
125685       wofs
360405     bosque
388185       wofs
           ...
64888     ninguno
205796       wofs
908170     bosque
87597        wofs
826113       wofs
Name: label, Length: 279458, dtype: object

# Naive Bayes para multiples capas
La clasificación multicapa del algoritmo Naive Bayes es conocida como "Clasificación Naive Bayes Multinomial". Como se puede apreciar la clasificación de nuestro conjunto de caracteristicas puede tener 4 valores: wofs, bosque, wofs_bosqu y ninguno.

In [18]:
#Create a Gaussian Classifier
#gnb = GaussianNB()
gnb = MultinomialNB()

In [19]:
#Train the model using the training sets
gnb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [20]:
#Predict the response for test dataset
y_pred = gnb.predict(X_test)

In [21]:
Counter(y_pred)

Counter({'wofs': 212227, 'bosque': 58302, 'ninguno': 8083, 'wofs_bosque': 846})

In [22]:
confusion_matrix(y_test, y_pred)

array([[ 57498,    235,      0,     80],
       [   803,   6680,   1210,     84],
       [     0,   1160, 210992,    576],
       [     1,      8,     25,    106]])

In [23]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      bosque       0.99      0.99      0.99     57813
     ninguno       0.83      0.76      0.79      8777
        wofs       0.99      0.99      0.99    212728
 wofs_bosque       0.13      0.76      0.22       140

    accuracy                           0.99    279458
   macro avg       0.73      0.88      0.75    279458
weighted avg       0.99      0.99      0.99    279458

In [24]:
# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9850353183662661

In [ ]:
#toBePersisted = dict({
#    'metadata': {
#        'name': 'NB_Multinomial'
#    }
#})
#dump(toBePersisted, 'NB_Multinomial.joblib')

In [25]:
# joblib.dump(gnb, 'NB_Multinomial.joblib') 
joblib.dump(gnb, 'model_nb_multinomial.joblib')

['model_nb_multinomial.joblib']

## Conclusiones

# Referencias
https://www.datacamp.com/community/tutorials/naive-bayes-scikit-learn

https://datascience.stackexchange.com/questions/40345/how-to-convert-multiple-columns-into-single-columns-in-pandas

https://stackoverflow.com/questions/13295735/how-can-i-replace-all-the-nan-values-with-zeros-in-a-column-of-a-pandas-datafra